src/main/resources/wsdl/CustomerOrders.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://trainings.ws.bharath.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerOrdersService"
	targetNamespace="http://trainings.ws.bharath.com">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://trainings.ws.bharath.com">
			<xsd:complexType name="product">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string"/>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="quantity" type="xsd:integer" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="order">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:integer" />
					<xsd:element name="product" type="tns:product"
					maxOccurs="unbounded"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="getOrdersRequest">
				<xsd:sequence>
					<xsd:element name="customerId" type="xsd:integer"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="getOrdersResponse">
				<xsd:sequence>
					<xsd:element name="order" type="tns:order" maxOccurs="unbounded" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="createOrdersRequest">
				<xsd:sequence>
					<xsd:element name="customerId" type="xsd:integer"/>
					<xsd:element name="order" type="tns:order"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="createOrdersResponse">
				<xsd:sequence>
					<xsd:element name="result" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getOrdersRequest" type="tns:getOrdersRequest"/>
			<xsd:element name="getOrdersResponse" type="tns:getOrdersResponse"/>
			<xsd:element name="createOrdersRequest"type="tns:createOrdersRequest"/>
			<xsd:element name="createOrdersResponse" type="tns:createOrdersResponse"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getOrdersRequest">
		<wsdl:part element="tns:getOrdersRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getOrdersResponse">
		<wsdl:part element="tns:getOrdersResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="createOrdersRequest">
		<wsdl:part element="tns:createOrdersRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="createOrdersResponse">
		<wsdl:part element="tns:createOrdersResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:portType name="CustomerOrders">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperationRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CustomerOrdersSOAP"
		type="tns:CustomerOrders">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NewOperation">
			<soap:operation
				soapAction="http://trainings.ws.bharath.com/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CustomerOrders">
		<wsdl:port binding="tns:CustomerOrdersSOAP"
			name="CustomerOrdersSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
